<div class="addresses">
  <div class="address">
    <div class="upper-address">
      <div class="address-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-address">
      <div class="address-content">
        出発地 → 目的地A → 目的地B
      </div>
    </div>
  </div>
</div>


<%# 検索フォーム%>
<div class="forms">
  <div class="form">
    <div class="form-input">
      <input class="form-message" placeholder= "出発地">
    </div>
    <div class="form-input">
      <input class="form-message" placeholder= "目的地1">
    </div>
    <div class="form-input">
      <input class="form-message" placeholder= "目的地2">
    </div>
  </div>
  <%# フォーム追加、検索機能は後で実装%>
  <div class="button">
    <div class="add-button">
        <a href="#">+</a>
    </div>
    <input class="form-submit" type="submit" value="検索">
  </div>
</div>