<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-history">
    <a href="#">履歴</a>
  </div>
</div>

<div class="histories">
  <div class="history">
    <div class="history-name">
      <a href="#">履歴1</a>
    </div>
  </div>
  <div class="history">
    <div class="history-name">
      <a href="#">履歴2</a>
    </div>
  </div>
</div>