<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="search">
    <div class="addresses">
      <div class="address">
        <h1>最短距離計算結果</h1>
        <p>出発地:<%= @departure.address %> </p>
      </div>       
      <div class="address-content">
        <p>1番目: <%= @shortest_destination %></p>
        <p>2番目: <%= @long_destination %></p>
      </div>
    </div>
  </div>
</div>